
pygame==2.6.1        # making multimedia apps like games built on top of the SDL library. C, Python, Native, OpenGL
ecs-pattern==1.1.2   # Implementation of the ECS pattern for creating games.

setuptools==68.0.0
wheel==0.40.0
