
pygame==2.5.0        # making multimedia apps like games built on top of the SDL library. C, Python, Native, OpenGL
numpy==1.25.2        # fundamental package for scientific computing with Python
ecs-pattern==1.1.2   # Implementation of the ECS pattern for creating games.
pyjnius==1.5.0       # Access Java classes from Python

pip==23.2.1
setuptools==68.0.0
wheel==0.40.0
flake8==6.1.0